body{
  font-family: 'Poppins', sans-serif;
  padding: 8%;
  /* background-color: black;
  color: #FFF; */
}
.photo-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  transition: opacity 0.5s;
}

.photo-profile:hover{
  content: url('./1730222621350.jpg');
  opacity: 0.7;
}


#container{
  background: rgb(216, 213, 17);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.363);
  max-height: 300px;
  overflow-y: auto;
}

.icon-social a{
  text-decoration: none;
  margin: 10px;
}

.icon-social img:hover{
  transform: translateY(-15%);
}

h2 {
  display: flex;
  align-items: center;
}

h2 i {
  margin-right: 10px;
}